.container{
    display:flex;
    flex-direction: row;
    height:500px;
}
.para{
    font-size: 19px;
    padding-left: 15px;
    margin: 25px;
    border:1px solid black;
}
.para{
    padding:20px;
    margin-top: 30px;
}
.quote{
    padding-top: 0px;
}