.post {
    display: flex;
    margin-bottom: 20px;
  }
  
  .post-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .post-details {
    flex: 1;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post-header h2 {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .post-header span {
    font-size: 14px;
    color: #777;
  }
  
  .post-body p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .post-actions {
    margin-bottom: 10px;
  }
  
  .post-actions button {
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .post-actions .post-like-button.liked {
    color: #ff4081;
    }
    
    .post-comments {
    margin-top: 10px;
    }
    
    .post-comments ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .post-comments ul li {
    font-size: 14px;
    margin-bottom: 5px;
    }
    
    .post-comments form {
    margin-top: 10px;
    }
    
    .post-comments input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    }
    
    .post-comments button[type="submit"] {
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    }
    
    
    
    
    
    
  