/* ReferralSystem.css */

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  input[type="text"] {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid gray;
    border-radius: 0.5rem 0 0 0.5rem;
    outline: none;
  }
  
  button[type="submit"] {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    height:30px;
  }
  
  .points {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .congo{
    color: #008000;
    font-weight: bold;
    padding-top: 20px;
  }
  .box{
    border:1px solid black;
    height:300px;
    margin-top:40px;
    margin-left:30px;
    margin-right: 30px;
    background-color:lightblue;
  }
  .buts{
    margin-top: -20px;
    margin-left: 2px;
  }
  .leaderboard__button{
    width:200px;
    height:25px;
    margin-left:555px;
    font-size: 1.2rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    margin-top: 20px;
  }
  .leaderboard__button button :hover{
        background-color: #555;
  }